<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ashif.newsapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="me.ashif.newsapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="me.ashif.newsapp.permission.C2D_MESSAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsInDetailActivity"
>
        </activity>
        <activity
            android:name=".MalayalamewsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".MalayalamNewsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".HindiNewsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".KannadaNews"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".NewsDetails"
            android:label="@string/title_activity_news_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
   <!-- parse notification service receiver !-->

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="me.ashif.newsapp" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
